$primary_gradient: linear-gradient(90deg, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
$white_color: #fff;
$blue_color: #1062ea;
$light_blue_color: #314e86;
$gray_color: #646a71;
$dark_gray_color: darkgray;
$secondary_gradient: linear-gradient(3.47deg, #e6eaf6 4.99%, #ffffff 101.2%);
$filthy_white: #e5e5e5;

$middle_box_shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
